body {
  font-family: var(--font-family-main);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: var(--pimary-text-color);
  background: var(--secondary-background-color);
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 728px;
  }

  @media screen and (min-width: 1366px) {
    width: 1366px;
    padding: 0 26px;
  }
}

.section {
  padding-bottom: 70px;
  @media screen and (min-width: 1366px) {
    padding: 0 130px;
  }
}
.title {
  color: var(--tittle-text-color);
  font-weight: 800;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
}
