body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.08em;
  color: #b9b9b9;
  background: #e5e5e5;
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 728px;
  }

  @media screen and (min-width: 1440px) {
    width: 1366px;
    padding: 0 26px;
  }
}

.section {
  padding-bottom: 70px;
}
