.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  outline: 1px solid green;
  outline-offset: -1px;

  @media screen and (min-width: 320px) {
    width: 320px;
  }

  @media screen and (min-width: 768px) {
    width: 728px;
  }

  @media screen and (min-width: 1440px) {
    width: 1366px;
    padding: 0 26px;
  }
}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 0.08em;
    color: #B9B9B9;
    background: #E5E5E5;
}
