:root {
  /* colors */

  --font-family-main: 'Montserrat', sans-serif;
  --pimary-text-color: #b9b9b9;
  --secondary-text-color: #ffffff;
  --third-text-color: #3d3d3d;
  --title-text-color: #111518;
  --accent-color: #ff6b09;

  --primary-background-color: #E5E5E5;
  --secondary-background-color: #fff;
  --third-background-color: #111518;
  --fourth-background-color: #f1f1f1; // для секції "we guarantee"
  --fifth-background-color: #3d3d3d; // для вогню

  /* animation */

  --shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
