<section class="section benefits">
  <div class="container">
    <h2 class="visually-hidden">benefits</h2>
    <ul class="benefits__list">
      <!-- ----------------------------------------item 1 -->
      <li class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="./images/sprite.svg#icon-hero-female-student-frame"></use>
        </svg>
        <p class="benefits__item-descr">Adapted author's UPE program</p>
      </li>

      <!-- ----------------------------------------item 1 -->
      <li class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="./images/sprite.svg#icon-hero-mod-teach-frame"></use>
        </svg>
        <p class="benefits__item-descr">Modern teaching methods</p>
      </li>
      <!-- ----------------------------------------item 1 -->
      <li class="benefits__item">
        <svg class="benefits__item-icon">
          <use href="./images/sprite.svg#icon-hero-insurance-frame"></use>
        </svg>
        <p class="benefits__item-descr">Financial guarantee the result</p>
      </li>
    </ul>
  </div>
</section>
