<section class="contacts">
  <div class="container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts__accent">free</span> phone
      <span class="contacts__accent">consultation</span> on the nuances of
      English UPE
    </h2>
    <h3 class="contacts__descr">
      Leave a request for participation in a
      <span class="contacts__accent">free lesson</span>.
    </h3>
    <h3 class="contacts__descr">
      A consultant will contact you and answer your questions
    </h3>

    <button class="contacts__button button" type="button">
      i want a free lesson
    </button>
  </div>
</section>
