<section>
  <div>
    <h1 class="hero__title title">Complex preparation for English UPE</h1>
    <p class="hero__text">
      <span class="hero__text-grey">It won’t be easy.</span>
      But you are guaranteed to get +25 points
    </p>

    <button type="button">i want a free lesson</button>

    <picture>
      <!-- <source srcset="photo-wide.jpg" media="(min-width: 600px)" /> -->
      <!-- <img src="../images/hero/hero-descktop@1x.png" alt="people" /> -->
    </picture>

    <!-- width: 842px;
height: 718px; -->
  </div>
</section>
