<section class="container">
  <h2 class="container__title">How do we do it</h2>

  <ul class="container__methods">
    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="45px" height="48px">
          <use href="./images/sprite.svg#icon-how-do-ability-iconfr"></use>
        </svg>

        <h3 class="container__method-title">
          Adapted program preparation for UPE
        </h3>

        <p class="container__method-text">
          You will learn grammar and vocabulary at the same time. And you will
          learn how to write essays
        </p>
      </div>
    </li>

    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="46px" height="47px">
          <use href="./images/sprite.svg#icon-how-do-classroom-lern-icon"></use>
        </svg>

        <h3 class="container__method-title">Classroom and online learning</h3>
        <p class="container__method-text">
          The teacher will help not only in the classroom, but also during home
          preparation.Parents can chat if they wish.
        </p>
      </div>
    </li>

    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="46px" height="34px">
          <use href="./images/sprite.svg#icon-how-do-open-book-icon"></use>
        </svg>

        <h3 class="container__method-title">The habit of reading in English</h3>
        <p class="container__method-text">
          Articles from sources that are used in the development of this UPE
          will be received by phone twice a week.
        </p>
      </div>
    </li>

    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="48px" height="48px">
          <use href="./images/sprite.svg#icon-how-do-psyhsupport-icon"></use>
        </svg>

        <h3 class="container__method-title">Psychological support</h3>
        <p class="container__method-text">
          We will teach you testing techniques, the ability to plan your
          confidence training in itself.
        </p>
      </div>
    </li>
    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="41px" height="46px">
          <use href="./images/sprite.svg#icon-how-do-female-st-icon"></use>
        </svg>

        <h3 class="container__method-title">Training on copyright manuals</h3>
        <p class="container__method-text">
          You don't have to waste your time on a search for material and to buy
          anything extra. We have compiled 2 manuals for you.
        </p>
      </div>
    </li>
    <li class="container__method-item">
      <div class="container__method-block">
        <svg class="container__method-icon" width="51px" height="44px">
          <use href="./images/sprite.svg#icon-how-do-ability-iconfr"></use>
        </svg>

        <h3 class="container__method-title">
          Ability to comprehend spoken English
        </h3>
        <p class="container__method-text">
          “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze
          audio recordings in accordance with the studied vocabulary.
        </p>
      </div>
    </li>
  </ul>
</section>
