<section class="section problems-section">
  <div class="problems__icon-canv">
    <svg class="problems__bg-icon">
      <use></use>
    </svg>
    <div class="problems__white-canv"></div>
  </div>
  <div class="container problems-container">
    <h2 class="problems-title title">
      The main problems of students in English UPE, which we
      <span>help</span>
      to solve
    </h2>
    <ul class="problems-list">
      <li class="problems-list__item">
        <span></span>
        <p>Grammar</p>
      </li>
      <li class="problems-list__item">
        <span></span>
        <p>Inability to understand spoken English</p>
      </li>
      <li class="problems-list__item">
        <span></span>
        <p>Stingy vocabulary for writing an essay</p>
      </li>
      <li class="problems-list__item">
        <span></span>
        <p>Preparing alone</p>
      </li>
      <li class="problems-list__item">
        <span></span>
        <p>Lack of a single knowledge resource</p>
      </li>
      <li class="problems-list__item">
        <span></span>
        <p>Lack of self-organization and laziness</p>
      </li>
    </ul>
  </div>
</section>
