<section class="section program">
    <div class="program__wrap">
        <div class="container">
            <h2 class="program__title">Our program</h2>
            <div class="program__container">
                <ul class="program__list">
                    <li class="program__item">
                        <h3 class="program__term">1 SEMESTER</h3>
                        <ul class="program__type">
                            <li class="program__type-list">
                                <h4 class="program__subject">Grammar</h4>
                                <ul class="program_topic">Nouns & Articles</ul>
                                <ul class="program_topic">Adjectives & Adverb</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Vocabulary</h4>
                                <ul class="program_topic">Family & Relations</ul>
                                <ul class="program_topic">People & Society</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__term">2 SEMESTER</h3>
                        <ul class="program__type">
                            <li class="program__type-list">
                                <h4 class="program__subject">Grammar</h4>
                                <ul class="program_topic">Pronouns</ul>
                                <ul class="program_topic">Active Voice</ul>
                                <ul class="program_topic">Passive Voice</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Vocabulary</h4>
                                <ul class="program_topic">Home</ul>
                                <ul class="program_topic">School</ul>
                                <ul class="program_topic">Work</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__term">3 SEMESTER</h3>
                        <ul class="program__type">
                            <li class="program__type-list">
                                <h4 class="program__subject">Grammar</h4>
                                <ul class="program_topic">Modal verbs</ul>
                                <ul class="program_topic">Infinitive</ul>
                                <ul class="program_topic">Gerund</ul>
                                <ul class="program_topic">Participle: 1, 2</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Vocabulary</h4>
                                <ul class="program_topic">Travel & Tourism</ul>
                                <ul class="program_topic">Culture & Free Time</ul>
                                <ul class="program_topic">Sport</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Writing</h4>
                                <ul class="program_topic">Informal Letter</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__term">4 SEMESTER</h3>
                        <ul class="program__type">
                            <li class="program__type-list">
                                <h4 class="program__subject">Grammar</h4>
                                <ul class="program_topic">Clauses: Conditional and <br>Wishes</ul>
                                <ul class="program_topic">Direct / Reported speech</ul>
                                <ul class="program_topic">Preposition</ul>
                                <ul class="program_topic">Conjunction</ul>
                                <ul class="program_topic">Numeral</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Vocabulary</h4>
                                <ul class="program_topic">Healthy Living</ul>
                                <ul class="program_topic">Nature & Environment</ul>
                                <ul class="program_topic">Money</ul>
                            </li>
                            <li class="program__type-list">
                                <h4 class="program__subject">Writing</h4>
                                <ul class="program_topic">Formal Letter</ul>
                            </li>
                        </ul>
                    </li>
                    <li class="program__item">
                        <h3 class="program__term">5 SEMESTER</h3>
                        <ul class="program__type">
                            <li class="program__type-list">
                                <h4 class="program__subject">  </h4>
                                <ul class="program_topic">Revision</ul>
                                <ul class="program_topic">Tests</ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>