.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 0px 16px;
  width: 260px;
  height: 48px;

  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.28;
  letter-spacing: 0.08em;

  border: none;

  @include mq(desk) {
    padding: 27px 10px 26px;
    width: 354px;
    height: 70px;

    font-size: 14px;
    line-height: 1.13;
    letter-spacing: 0.14em;
  }
}
