.mob-menu {
    @include mq(not-desk) {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 500;
        
        background-color: rgba(17, 21, 24, 0.9);
        
        padding-top: 30px;
        padding-bottom: 30px;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: opacity var(--shift), visibility var(--shift);

        &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: initial;  
        }
    }

    @include mq(desk) {
        display: none;
    }
}

.menu-btn {
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;

    @include mq(tab) {
        margin-left: 40px;
    }

    @include mq(desk) {
        display: none;
    }

    &.is-open {
        position: fixed;
        top: 37px;
        right: 20px;
        z-index: 1000;

        @include mq(tab) {
            top: 59px;
            right: 40px;
        }
    }
}

.menu-btn__icon-menu {
    stroke: #000;
}

.menu-btn__icon-close {
    opacity: 0;

    .menu-btn.is-open & {
        position: absolute;
        top: 37px;
        right: 20px;
        z-index: 300;
        opacity: 1;
    }
}

.mob-menu__logo {
    display: none;
    
    .mob-menu.is-open & {
        position: absolute;
        display: block;
        top: 30px;
        left: 20px;
        z-index: 200;
        color: var(--secondary-text-color);

        @include mq(tab-only) {
            top: 42px;
            left: 40px;
        }
    }
}

.mob-menu__list {
    @include mq(not-desk) {
        margin-top: 78px;
        margin-left: 20px;
    }

    @include mq(tab) {
        max-width: 332px;
        margin: 117px auto 0;
    }
}

.mob-menu__link {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);

    @include mq(tab) {
        font-size: 26px;
    }

    &:hover {
        color: var(--accent-color);
    }

    &--current {
        color: var(--accent-color);
    }
}

.mob-menu__button {
    display: block;
    margin: 50px auto 0;
    padding: 10px;

    border: 2px solid var(--accent-color);
    background-color: transparent;

    @include mq(tab) {
        display: none;
    }
}
