.guarantee__list {
  list-style: none;
}
.guarantee__item {
  position: relative;
  padding: 20px 0 20px 40px;

  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  cursor: pointer;
  color: var(--fifth-background-color);
}
.guarantee__item:before {
  content: '';
  width: 22px;
  height: 30px;

  position: absolute;
  top: 0;
  left: 0;

  background-image: url('../images/sprite.svg#icon-hero-helloen');

  transition: 0.3s ease-in-out;
}
.guarantee__item:after {
  content: '';
  display: inline;
  width: 1px;
  position: absolute;
  bottom: -12px;

  left: 3px;
  top: 48px;

  border-left: 1px dashed var(--pimary-text-color);
}
.guarantee__item:hover:before {
  box-shadow: 0 0 0 10px rgba(255, 107, 9, 0.26);
}
.guarantee__item:last-child:after {
  content: none;
}
