.header {
    display: flex;
    align-items: center;
    padding-top: 30px;

    @include mq(tab) {
        padding-top: 40px;
    }


}

.header__button {
    display: none;

    @include mq(tab) {
        margin-left: 239px;
        display: block;
        padding: 10px;
        border: 2px solid var(--accent-color);

        color: var(--accent-color);
        background-color: transparent;
    }

    @include mq(desk) {
        margin-left: 60px;
    }
}

.header__navigation {
    margin-left: 144px;
}

.navigation {
    display: none;

    @include mq(desk) {
        display: flex;
        gap: 40px;
    }
}

.navigation__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    text-transform: uppercase;
    
    color: var(--pimary-text-color);
    transition: color var(--shift);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}