// ------------------ bg image
body {
  background-image: url(../images/hero/wave-bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% -70px;

  // --------------responsive adaptive for bg
  @media screen and (min-width: 500px) {
    background-position: 40% -70px;
  }
  @media screen and (min-width: 768px) {
    background-position: 0 0;
    background-image: url(../images/hero/wave-bg.svg);
    background-size: 100% auto;
  }
  @media screen and (min-width: 800px) {
    background-position: 10% 100%;
  }
  @media screen and (min-width: 1440px) {
    background-position: 0 0;
  }
  @media screen and (min-width: 1600px) {
    background-position: 0 100%;
  }
}
// ------------------ hero
.hero {
  padding: 30px 0 70px 0;
  background-color: transparent;

  @media screen and (min-width: 320px) {
  }

  @media screen and (min-width: 768px) {
    padding: 70px 0 70px 0;
  }
  @media screen and (min-width: 1440px) {
    padding: 30px 0 130px 0;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 320px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: inline-block;
    width: 320px;
    margin-right: 18px;
    padding-top: 4px;
  }
  @media screen and (min-width: 1440px) {
    width: 530px;
    height: 421px;
    padding-top: 55px;
  }
}
.hero__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #111518;

  margin-bottom: 8px;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 15px;
    width: 320px;
  }

  @media screen and (min-width: 1440px) {
    font-size: 58px;
    width: 530px;
  }
}
// -----------------------description
.hero__text-grey {
  font-weight: 500;
  color: #b9b9b9;
  line-height: 22px;
  letter-spacing: 0.08em;

  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.hero__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.08em;
  margin-bottom: 50px;
  width: 260px;

  color: #111518;
  @media screen and (min-width: 768px) {
    margin-bottom: 45px;
  }
  @media screen and (min-width: 1440px) {
    font-weight: 700;
    font-size: 20px;
    line-height: 165%;
    align-items: center;
    letter-spacing: 0.08em;

    width: 530px;
  }
}
.hero__text-orange {
  color: #ff6b09;
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1440px) {
  }
}

// ------------------------------button
.button__hero {
  padding: 17px 46px 16px;
  margin-bottom: 54px;

  background-color: #ff6b09;
  color: #ffffff;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.28;
  letter-spacing: 0.08em;
  text-align: center;
  text-transform: uppercase;

  border: none;

  @media screen and (min-widt768768px) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 0;
    padding: 27px 70px 26px;

    font-size: 14px;
    line-height: 1.13;
    letter-spacing: 0.14em;
  }
}

// -------------------------------image
.hero__img {
  display: flex;
  position: relative;
  width: 208px;
  height: 178px;

  @media screen and (min-width: 768px) {
    width: 370px;
    height: 315px;
  }
  @media screen and (min-width: 1440px) {
    width: 842px;
    height: 718px;
  }
}

.hero__img-bottom {
  position: absolute;
  width: 208px;
  height: 150px;
  top: 9.52px;
  left: 0;

  @media screen and (min-width: 768px) {
    top: 17px;
    left: 0;
    width: 370px;
    height: 264px;
  }

  @media screen and (min-width: 1440px) {
    top: 38px;
    left: 0;
    width: 842px;
    height: 602px;
  }
}

.hero__img-top {
  position: absolute;
  top: 0;
  left: 20.08px;
  width: 178px;
  height: 178px;

  @media screen and (min-width: 768px) {
    top: 0;
    left: 35px;
    width: 316px;
    height: 315px;
  }
  @media screen and (min-width: 1440px) {
    top: 0;
    left: 82px;
    width: 719px;
    height: 718px;
  }
}
