.method {
  width: 280px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.method__title {
  color: var(--title-text-color);
  vertical-align: top;
}

// .method__block {
//   width: 100%;
//   padding: 30px 20px;
// }

// .method__item {
//   text-align: center;
//   margin-bottom: 15px;
//   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 
// }

.method__item:last-child {
  margin-bottom: 0;
}

.method__item:nth-child(3) {
  background-color: var(--accent-color);
}

.method__list-title {
  position: relative;
  padding: 20px 0px;

  color: var(--title-text-color);
  @include fonts(700 ,14px ,1.4 ,0.08em);
  font-family: 'Montserrat', sans-serif;
  color: var(--title-text-color);
}

.method__list-title::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 50%);

  background-color: var(--accent-color);
}

.method__item:nth-child(3) .method__list-title::after {
  background-color: var(--pimary-background-color);
}

.method__text {
  padding: 20px 20px 30px;

  @include fonts(500 ,12px ,1.7 ,0.08em);
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-text-color);
}

.method__list {
  width: 280px;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

@include mq (tab) 
     {  width: 688px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        // align-items: center;
        // text-align: center;
        // margin-left: auto;
        // margin-right: auto;
        }
  @include mq (desk) {
       width: 1314px;
    }
  } 

  .method__block {
    width: 100%;
    padding: 30px 20px;

    @include mq (tab) {
      gap: 20px 20px;
    }

    @include mq (desk) {
      gap: 20px 30px;
    }
  }

  .method__item {
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

   @include mq (tab) {
    width: 334px;
    }

    @include mq (desk) {
      width: 418px;
    }
  }
  
