.problems-section{
    position: relative;
    padding-top: 20px;
    background-color: var(--third-background-color);
    background: linear-gradient(180deg,var(--third-background-color) 78.42%, var(--secondary-background-color) 78.42%);
    @include mq(tab){
        padding-top: 55px;
        background: linear-gradient(180deg, var(--third-background-color) 70.70%, var(--secondary-background-color) 70.70%);
    }
    @include mq(desk){
        padding-top: 100px;
        background: linear-gradient(180deg, var(--third-background-color) 72%, var(--secondary-background-color) 72%);
        background-repeat:no-repeat;
    }
    
}
.problems-container{
    position: relative;
    z-index: 1;
}

/*================Заголовок============*/
.problems-title{
    color: var(--secondary-text-color);
    margin-bottom: 25px;

    @include mq(tab){
        width: 450px;
        margin-bottom: 30px;

        font-size: 24px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }
    @include mq(desk){
        width: 860px;
        margin-bottom: 68px;
        font-weight: 800;
        font-size: 46px;
    }
    >span{
        color: var(--accent-color);
    }
}

.problems-list{
    
    background-color: var(--pimary-background-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding: 20px 27px;

    counter-reset: problrms-list;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    gap: 15px;

    @include mq(tab) {
        padding: 28px 90px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 68px;
    }
    @include mq(desk){
        padding: 67px 113px;
        row-gap: 30px;
        column-gap: 40px;
    }

}

.problems-list__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--title-text-color);
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    @include mq(tab){
        flex-basis: 220px;
    }
    @include mq(desk){
        flex-basis: 287px;
    }
    
}

/* ==========Лічільник листу проблем==============*/
.problems-list__item{
    >span{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
      color: var(--accent-color) ;  
    }
   >span::after{
    counter-increment: problrms-list;                 
    content: '0'counter(problrms-list);
    }
    >span::before{
    content: "\2014" 
    }
}
/*================Фононва іконка=================*/
.problems__icon-canv{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    margin: 0 auto;
    background: transparent;
    display: none;
    @include mq(desk){
        display: block;
        width: 100%;
        max-width: 1680px;
        height: 72%;
        background-image: url(../images/problems/problems-bg-fire.svg);
        background-position: bottom right;
        background-repeat:no-repeat!important;
    }
}
