.problems-section{
    position: relative;
    padding-top: 20px;
    background-color: red;
    background: linear-gradient(0deg, var(--secondary-background-color) 28%, var(--third-background-color) 28%);
    @media screen and (min-width: 768px){
        padding-top: 55px;
        background: linear-gradient(0deg, var(--secondary-background-color) 38%, var(--third-background-color) 38%);
    }
    @media screen and (min-width: 1366px){
        padding-top: 100px;
        background: linear-gradient(0deg, var(--secondary-background-color) 28%, var(--third-background-color) 28%);
    }
    
}
.problems-container{
}

/*================Заголовок============*/
.problems-title{
    color: var(--secondary-text-color);
    margin-bottom: 25px;

    @media screen and (min-width: 768px){
        width: 450px;
        margin-bottom: 30px;

        font-size: 24px;
        line-height: 1.30;
        letter-spacing: 0.03em;
    }
    @media screen and (min-width: 1366px){
        margin-bottom: 68px;
    }
    >span{
        color: var(--accent-color);
    }
}

.problems-list{
    
    background-color: var(--pimary-background-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding: 20px 27px;

    counter-reset: problrms-list;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    gap: 15px;

    @media screen and (min-width: 768px) {
        padding: 28px 90px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 68px;
    }
    @media screen and (min-width: 1366px){
        padding: 67px 113px;
        row-gap: 30px;
        column-gap: 40px;
    }

}

.problems-list__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--title-text-color);
    flex-shrink: 1;
    @media screen and (min-width: 768px){
        flex-basis: 220px;
    }
    @media screen and (min-width: 1366px){
        flex-basis: 287px;
    }
    
}

/* ==========Лічільник листу проблем==============*/
.problems-list__item{
    >span{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
      color: var(--accent-color) ;  
    }
   >span::after{
    counter-increment: problrms-list;                 
    content: '0'counter(problrms-list);
    }
    >span::before{
    content: "\2014" 
    }
}
/*================Фононва іконка=================*/
.problems__icon-canv{
    position: relative;
    margin: 0 auto;
    background: red;
    max-width: 1680px;
}
.problems__bg-icon{
    position: absolute;
    bottom: 0;
    right: 0;
}
