.problems-section{
    padding-top: 20px;
    background-color: red;
    background: linear-gradient(0deg, var(--secondary-background-color) 22%, var(--third-background-color) 22%);
}
.problems-container{
}

/*================Заголовок============*/
.problems-title{
    color: var(--secondary-text-color);
    margin-bottom: 25px;
    >span{
        color: var(--accent-color);
    }
}

.problems-list{
    
    background-color: var(--pimary-background-color);
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding: 20px 27px;

    counter-reset: problrms-list;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    gap: 15px;

}

.problems-list__item{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;
    color: var(--tittle-text-color);
}

/* ==========Лічільник листу проблем==============*/
.problems-list__item{
    >span{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.08em;
      color: var(--accent-color) ;  
    }
   >span::after{
    counter-increment: problrms-list;                 
    content: '0'counter(problrms-list);
    }
    >span::before{
    content: "\2014" 
    }
}
