.program {
    background-color: var(--third-background-color);
    position: relative;
    padding-bottom: 145px;
    background-image: linear-gradient(rgba(17, 21, 24, 0.3), rgba(17, 21, 24, 0.3)), url(../../images/program/program-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: right -10px bottom 50px;
}